.orderMessage {
  background-color: #f5f5f5a9;
  height: 100vh;
}

.orderPlaced {
  text-align: center;
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  gap: 10px;
  font-size: 24px;
  color: #333;
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.orderPlaced span {
  font-weight: bold;
  color: #22c55e;
}
.orderPlaced h1 {
  font-size: 35px;
  color: #1f2937;
  margin-bottom: 10px;
}
.orderPlaced p {
  font-size: 20px;
  color: #6b7280;
}
@media (max-width: 768px) {
  .orderPlaced {
    padding-top: 50px;
    font-size: 20px;
  }
  .orderPlaced h1 {
    font-size: 28px;
  }
  .orderPlaced p {
    font-size: 16px;
  }
  .orderPlaced span {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .orderPlaced {
    padding-top: 80px;
    font-size: 18px;
  }
  .orderPlaced span {
    font-size: 18px;
  }
  .orderPlaced h1 {
    font-size: 24px;
  }
  .orderPlaced p {
    font-size: 16px;
  }
}
