.product {
  background-color: #f5f5f5a9;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.products {
  max-width: 1350px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  row-gap: 35px;
}

@media (min-width: 1600px) {
  .products {
    padding: 10px 25px;
  }
}
@media (max-width: 1919px) {
  .products {
    padding: 10px 20px;
  }
}
@media (max-width: 1359px) {
  .products {
    padding: 10px 15px;
  }
}
@media (max-width: 1023px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding: 10px 15px;
  }
}
@media (max-width: 767px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    padding: 10px 10px;
  }
}
@media (max-width: 479px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    padding: 10px 20px;
  }
}
@media (max-width: 374px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    padding: 10px 10px;
  }
}
