.sectionValues {
  padding: 64px 0;
}
.sectionValues h2 {
  padding-top: 64px;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 30px;
}

.values {
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 30px 50px;

  column-gap: 30px;
  justify-content: space-between;
}
.value {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px 30px;
  gap: 15px;
  border-radius: 9px;
}
.even {
  background-color: #ffe4ee;
}
.even span {
  padding: 20px 30px;
  clip-path: circle();
  color: #fff;
  display: flex;
  align-items: center;
  background-color: #f0a51a;
}
.odd span {
  padding: 20px 30px;
  clip-path: circle();
  color: #fff;
  display: flex;
  align-items: center;
  background-color: #4f87bf;
}
.odd {
  background-color: #e7edf381;
}

.value p {
  text-align: center;
  line-height: 1.6;
  font-size: 17px;
  color: #333;
}

.section {
  padding: 40px 0;
}

.section h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 25px;
}

@media (max-width: 1799px) {
  .values {
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 30px 50px;

    column-gap: 30px;
    justify-content: space-between;
  }
}
@media (max-width: 1599px) {
  .values {
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 30px 50px;

    column-gap: 30px;
    justify-content: space-between;
  }
}
@media (max-width: 1399px) {
  .values {
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 30px 50px;

    column-gap: 30px;
    justify-content: space-between;
  }
}
@media (max-width: 1199px) {
  .values {
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 30px 50px;

    column-gap: 30px;
    justify-content: space-between;
  }
}

@media (max-width: 991px) {
  .values {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    padding: 30px 50px;
    column-gap: 30px;
    justify-content: space-between;
  }
}
@media (max-width: 480px) {
  .sectionValues {
    padding: 32px 0;
  }
  .values {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 35px;
    padding: 25px 35px;
    column-gap: 30px;
    justify-content: space-between;
  }
}
