.input {
  max-width: 35%;
  text-align: center;
  border-radius: 9px;
  padding: 0.2rem 1rem;
  margin-bottom: 20px;
  border: none;
  animation: blink 1.5s infinite;
  z-index: 1;
}

::placeholder {
  color: #fff;
}
@keyframes blink {
  0%,
  100% {
    background-color: #3575b6;
    color: #ffff;
  }
  50% {
    background-color: #ffe6e6;
    color: #ffff;
  }
}
