.button {
  display: inline-block;
  background: none;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  border: 0.8px solid #3575b6;
  border-radius: 9px;
}
.primary {
  background: #5d91c5;
  color: #333;
  transition: all 0.5s;
}
.secondary {
  max-width: 300px;
  align-self: center;
}
.primary:hover {
  background: #c2d6e9;
}
.item-no {
  padding: 5px 10px;
  align-self: center;
  justify-self: center;
  background: #a1a0a04b;
  border: 0.1px solid #7777;
  border-radius: 9px;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.2s;
}
.item-no:hover {
  background-color: #0829e6;
  border: none;
  color: #fff;
}
.cart {
  background-color: #a1a0a04b;
  font-weight: 500;
  color: #000;
  border: none;
}
.cart-hidden {
  font-weight: 500;

  color: #fff;
  border: none;
  margin-top: 10px;
  padding: 10px 10px;
  background-color: #5d91c5;
  transition: all 0.2s;
}
.cart-hidden:hover {
  opacity: 1;
  background-color: #057cf3;
}

.cta {
  background-color: #63a2e0;
  border: none;
  font-weight: bold;
  color: #ffff;
  transition: all 0.5s;
}
.cta:hover {
  background-color: #0572df;
}
.cart-add,
.cart-buy {
  display: flex;
  align-items: center;

  gap: 8px;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  transition: all 0.2s;
}
.cart-add {
  background-color: #0572df;
  color: #fff;
}
.cart-add:hover {
  background-color: #0572dfbb;
}
.cart-buy:hover {
  background-color: #0572df;
  color: #fff;
}

.checkout {
  margin-top: 30px;
  background-color: #0381ff5e;
  color: rgba(95, 90, 90, 0.867);

  width: 100%;
  transition: all 0.5s;
  font-size: 14px;
  font-weight: bold;
  border: none;
}
.checkout:hover {
  background-color: #0572df;
  color: #fff;
}
.log-out {
  padding: 10px 15px;
  border: 0.1px solid #5555;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background-color: #ebebeb8f;
  transition: all 0.2s;
}
