.button {
  display: inline-block;
  background: none;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  border: 0.8px solid #3575b6;
  border-radius: 9px;
}
.primary {
  background: #5d91c5;
  color: #333;
  transition: all 0.5s;
}
.secondary {
  max-width: 300px;
  align-self: center;
}
.primary:hover {
  background: #c2d6e9;
}
.item-no {
  padding: 5px 10px;
  align-self: center;
  justify-self: center;
  background: #a1a0a04b;
  border: 0.1px solid #7777;
  border-radius: 9px;
  font-weight: bold;
  font-size: 16px;
}
.cart {
  background-color: #a1a0a04b;
  font-weight: 500;
  color: #000;
  border: none;
}
.cart-hidden {
  font-weight: 500;
  color: #fff;
  border: none;
  opacity: 0;
}
.cart-hidden:hover {
  opacity: 1;
  background-color: #5d91c5;
}
.cta {
  border: none;
  background-color: #a1a0a04b;
  transition: all 0.2s;
}
.cta:hover {
  background-color: #63a2e0;

  font-weight: bold;
  color: #ffff;
}
