.section {
  background-color: #f5f5f5a9;
  padding: 50px 0;
}
.checkOut {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: #222;
}
.form-el {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-el input {
  height: 39px;
  width: 600px;
  border: 0.12px solid #5555;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 9px;
  background-color: #f5f5f571;
}
.form-el label {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 600;
}
.col_1 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.col_1 span {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.col_1 input {
  width: 295px;
}
input:focus {
  outline: 0.5px solid #5996e7;
  outline-offset: 3px;
}
/* For the order summary */
.summary {
  border: 1px solid #3333;
  width: 30%;
  padding: 20px 45px;
  margin-top: 70px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #ffff;
  border-radius: 11px;
}
.checkOut-detail {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.checkOut-detail h2 {
  font-size: 35px;
  font-weight: 700;
  color: #222;
}
.shipping-info,
.payment-info {
  border: 0.1px solid #ccc;
  padding: 35px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  background: #fff;
}
.shipping-info h3,
.payment-info h3 {
  font-size: 22px;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
  color: #333;
  gap: 5px;
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 25px;
}
.detail p {
  margin-bottom: 15px;
}

@media (max-width: 480px) {
  .checkOut {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #222;
  }
  .col_1 {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
  }
  /* .special {
    width: 500px;
  } */

  .summary {
    width: 90%;
    padding: 20px 45px;
    align-self: center;
  }
  .form-el input {
    height: 39px;
    width: 100%;
    border: 0.12px solid #5555;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 9px;
    background-color: #f5f5f571;
  }
  .shipping-info,
  .payment-info {
    border: 0.1px solid #ccc;
    width: 350px;
    align-self: flex-start;
    padding: 15px 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    background: #fff;
  }
}
