.featuredSection {
  background-color: #e7edf381;
  padding: 70px 0;
  border-top: 0.3px solid #3333;
}
.features {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.feature {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.feature span {
  background-color: #207edd;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  clip-path: circle();
}
.feature h4 {
  font-size: 16px;
  font-weight: 500;
}
.feature p {
  font-size: 14px;
  color: #444;
}

@media (max-width: 480px) {
  .feature {
    gap: 5px;
  }
  .features {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: space-evenly;
  }
}
