.result-modal {
  position: fixed;
  top: 95%;
  left: 88%;
  transform: translate(-50%, -50%);
  background: #f3f1f1;
  padding: 8px 15px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: none;
}

.result-modal[open] {
  animation: slide-in-from-top 0.35s ease-out;
}

.result-modal p {
  color: #555;
  text-align: center;
  font-size: 14px;
}

.result-modal form {
  text-align: right;
}
