.summary {
  border: 1px solid #3333;
  padding: 20px 20px;
  margin-top: 60px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #ffff;
  border-radius: 11px;
  width: 50%;
}
.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 25px;
}
.detail p {
  margin-bottom: 15px;
}

@media (max-width: 480px) {
  .summary {
    border: 1px solid #3333;
    padding: 20px 50px;

    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 95%;
  }
}
