.productDetail {
  max-width: 1200px;
  margin: 0 auto;
  padding: 94px 0;
}

.img img {
  object-fit: cover;
  transition: transform 0.3s ease;
  display: block;

  height: 100%; /* ensures image fills the container height */
  width: 100%;
}
.img {
  max-width: 500px;
  border-radius: 11px;
  height: 100%;
  overflow: hidden;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
  align-items: flex-start;
}
.list li {
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
