* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "serif";
}

.section {
  transition: transform 1s, opacity 1s;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

@keyframes blink {
  0%,
  100% {
    background-color: #3575b6;
    color: #fff;
  }
  50% {
    background-color: #ffe6e6;
    color: #fff;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
